
.nav-btn{
    background-color: rgb(252, 196, 15);
    border-radius: 7px;
    padding: 10px;
    margin: 10px;
    font-weight: 600;
}
.nav-btn:hover{
    color: rgb(236, 236, 236);
    background-color: darkgoldenrod; 
}
.card-section{
    background-color: rgb(36, 36, 56);
    border-radius: 10px;
}
.card-name{
    text-align: center;
    padding-top: 15px;
}
.cards{
    padding-bottom: 20px;
    border-radius: 10px;
    margin: 25px;
    background-color: rgb(230, 225, 225);
    /* box-shadow: 10px 15px 20px rgb(35, 56, 94); */
}
.buttons{
    background-color: rgb(245, 205, 29);
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 7px;
    margin: 10px;
    border: 2px solid darkgoldenrod;
}
.buttons:hover{
    color: rgb(236, 236, 236);
    background-color: darkgoldenrod;
}
.embed{
    display: none;
    padding: 10px;
    background-color: rgb(179, 177, 177);
    border-radius: 7px;
    margin: 10px;
}